version: 2.1

jobs:

  build:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - run:
          name: Install & Cache Dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

  test:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Audit Dependencies
          command: npm audit
      - run:
          name: Lint Code
          command: npm run lint
      - run:
          name: Run Tests
          command: npm run test

  release:
    docker:
      - image: circleci/node:lts
    environment:
      GIT_AUTHOR_NAME: cujarrett
      GIT_AUTHOR_EMAIL: cujarrett@gmail.com
      GIT_COMMITTER_NAME: cujarrett
      GIT_COMMITTER_EMAIL: cujarrett@gmail.com
    description: "semantic-release"
    parameters:
      dry-run:
        description: "semantic-release --dry-run flag"
        default: false
        type: boolean
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npx semantic-release --branch $CIRCLE_BRANCH --dry-run=<< parameters.dry-run >>
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

workflows:
  version: 2
  cicd:
    jobs:
      - build
      - test:
          requires:
            - build
      - release:
          name: release-dry-run
          requires:
            - test
          dry-run: true
          filters:
            branches:
              ignore:
                - master
      - release:
          requires:
            - test
          filters:
            branches:
              only:
                - master
